{% extends 'base.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block body %}
    <div class="container-fluid">
        <h1>{{ title }}</h1>
        <h2>
            Subsystems
        </h2>
        <ul>
            {% if rbacAccess %}
            <li><a href="{{ rbac }}">Role-based access control</a></li>
            {% endif %}
            <li><a href="{{ catalogue }}">Catalogue / ShoppingCart</a></li>
            <li><a href="{{ sessionMgmt }}">Session management</a></li>
        </ul>

        <h2>
            Place holder pages to test RBAC
        </h2>
        <p>This pages will show a friendly message if you have permission to access them. Otherwise, a red alert.</p>
        <ul>
            <li><a href="/product/add">/product/add</a></li>
            <li><a href="/product/edit">/product/edit</a></li>
            <li><a href="/product/delete">/product/delete</a></li>
        </ul>
    </div>
{% endblock %}
