<!DOCTYPE html>
<html lang="en" class="has-background-primary">
<head>
    <meta charset="UTF-8">
    <title>Catalogue</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.min.css">
    <link rel="stylesheet" href="/css/cart.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>
<body>
<nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a class="" href="/">COMP344</a>
    </div>
    <div id="navbar" class="navbar-menu">
        <div class="navbar-item has-dropdown is-hoverable">
            <a class="navbar-link has-text-weight-bold has-background-light">Shopping Cart&nbsp;<span
                        id="cart-items-total">(0)</span></a>
            <div class="navbar-dropdown section" style="width: 800px; max-height: 500px; overflow: scroll;">
                <div id="cart-items"><h5 class="title is-5">Could not load cart. Please check that you have JavaScript
                        enabled, or try again later.</h5></div>
                <hr class="is-divider">
                <div class="columns is-vcentered">
                    <div class="column"><h5 class="title is-5">Subtotal: $<span id="cart-subtotal">0</span></h5></div>
                    <div class="column"><a class="button is-primary is-fullwidth" href="#">Checkout</a></div>
                </div>
            </div>
        </div>
    </div>
    <div class="navbar-end">
        {% if shopperId > 0 %}
            <a class="text-white font-weight-bold nav-link" href="/sessionmgmt/login">Hi, {{ shopperName }}</a>
        {% else %}
            <a class="text-white font-weight-bold nav-link" href="/sessionmgmt/login">Login</a>
        {% endif %}
        {#<div class="navbar-item">#}
            {#<p>Your shopper ID: <?= get_shopper_id() ?> (<?= ($logged_in) ? 'authenticated' : 'guest' ?>)</p>&nbsp;#}
            {#<div class="buttons">#}
                {#<a class="button is-light" href="logout.php">Log out</a>#}
                {#<a class="button is-primary" href="login.php">Log in</a>#}
            {#</div>#}
        {#</div>#}
    </div>
</nav>
<section class="section">
    <div class="container">
        <h1 class="title is-1 has-text-white">Catalogue</h1>
        <h2 class="subtitle has-text-white-ter">(A mockup for testing; not our subsystem)</h2>
        {% for product in products %}
            <div class="catalogue-item card" data-itemid="{{ product['prod_id'] }}">
                <div class="card-content has-background-white">
                    <div class="columns">
                        <div class="column is-one-fifth">
                            <img class="catalogue-item-image" src="/img/cat.jpg" width="100%">
                        </div>
                        <div class="column">
                            <h3 class="catalogue-item-title title is-3">{{ product['prod_name'] }}
                                {{ product['PrPr_Price'] }}</h3>
                            <p class="has-text-grey"><i>Blah blah blah, more detailed item information goes here ...</i>
                            </p>
                        </div>
                    </div>
                    <div class="catalogue-item-attributes">
                        {% for attributes in product['attributes'] %}
                            <div class="columns is-vcentered">
                                <div class="column is-one-fifth has-text-right"><strong>{{ attributes['name'] }}:</strong>
                                </div>
                                <div class="column">
                                    <div class="select">
                                        <select class="catalogue-item-attribute" data-attrid={{ attributes['id'] }}
                                        {% for value in attributes['values'] %}
                                        <option class="dropdown-content" value="{{ value['AttrVal_id'] }}">
                                            {{ value['AttrVal_Value'] }}
                                            {{ value['AttrVal_Price'] }}
                                        </option>
                                        {% endfor %}
                                        </select>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                        <div class="columns is-vcentered">
                            <div class="column is-one-fifth has-text-right"><strong>Quantity:</strong></div>
                            <div class="column is-one-fifth field is-grouped">
                                <div class="control"><input type="number" class="catalogue-item-qty input" value="1"
                                                            min="1"></div>
                                <div class="control">
                                    <button class="cart-item-add button is-primary">Add to Cart</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</section>
<script src="/js/cart.js"></script>
<script>
    function setImage() {
        let itemName = $(this).closest('.catalogue-item')
            .find('h3.catalogue-item-title')
            .text()
            .toLowerCase()
            .stripPrice();

        // Add a integer suffix (1) to the item name if it doesn't exist
        if (!itemName.match(/\d+$/)) itemName += '1';

        let url = `http://angrypig.com.au/comp344/app/images/${itemName}-`;

        $(this).closest('.catalogue-item-attributes').find('option:selected').each(function () {
            url += $(this).text()
                .toLowerCase()
                .stripPrice()
                .replace(/\W/g, '_');
            url += '-';
        });


        url = url.slice(0, -1);
        url += '.png';

        $(this).closest('.catalogue-item').find('img.catalogue-item-image').attr('src', url);
    }

    $('.catalogue-item-attribute').each(setImage);
    $('.catalogue-item-attribute').change(setImage);
</script>
</body>
</html>
