.role-permissions {
    /* Hide all permissions for a role, on initial page load */
    display: none;
}

.table-margin-top-1 {
    margin-top: 1em;
}

.hasElement {
    background-color: #69F0AE;
    border: 1px solid #00E676;
    padding: 0 .75rem;
    border-radius: .25rem;
    margin-bottom: .25rem;
}

.noElement {
    background-color: #ECEFF1;
    border: 1px solid #CFD8DC;
    padding: 0 .75rem;
    border-radius: .25rem;
    margin-bottom: .25rem;
}

.bg-navbar {
    background-color: #00d1b2 !important;
}