{% extends 'base.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block body %}
    <div class="container-fluid">
        <h1>{{ title }}</h1>
        {% if shopperId > 0 %}
            <p>You are logged in as {{ shopperName }}.</p>
            <a class="btn btn-secondary" href="/sessionmgmt/logout" role="button">Log out</a>
        {% else %}
            <form id="login" method="post" action="/sessionmgmt/login/shopper">
                <div class="form-group">
                    <label for="email">Email address</label>
                    <input name="email" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                           placeholder="Enter email">
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input name="password" type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
                </div>
                <input class="btn btn-primary" type="submit" value="Submit">
            </form>
        {% endif %}
    </div>
{% endblock %}
