{% extends 'base.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block body %}
    <div id="roles" class="container table table-margin-top-1">
        <div class="row align-items-center">
            <div class="col-6 font-weight-bold">Role name</div>
            <div class="col">
                <div class="float-right d-flex bd-highlight">
                    <div class="p-1 bd-highlight">
                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addNewRole">
                            Add new role
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <hr>

        {% for role in roles %}
            <div class="row align-items-center">
                <div class="col-6">{{ role['name'] }}</div>
                <div class="col">
                    <div class="float-right d-flex bd-highlight">
                        <div class="p-1 bd-highlight">
                            <a class="btn btn-light"
                               onclick="getJson('role', '{{ role['name'] }}', 'permissions-list-{{ role['id'] }}', 'permissions'); toggleVisibilityAndHideClassElements('edit-role-permission-{{ role['id'] }}', 'role-permissions')">Edit</a>
                        </div>
                        <div class="p-1 bd-highlight">
                            <a class="btn btn-danger text-white" data-toggle="modal"
                               data-target="#delete-role-{{ role['id'] }}">Delete</a>
                        </div>
                    </div>
                </div>
            </div>

            <div id="edit-role-permission-{{ role['id'] }}" class="role-permissions">
                <form action="/rbac/roles/update" method="post">
                    <!-- Action -->
                    <input type="hidden" id="action" name="action" value="update">
                    <!-- Affected role -->
                    <input type="hidden" id="action" name="role-name" value="{{ role['name'] }}">

                    <!-- Description -->
                    <textarea name="role-desc" class="form-control"
                              title="Role description cannot exceed 255 characters"
                              maxlength="255">{{ role['desc'] }}</textarea>

                    <!-- Permissions list -->
                    <div id="permissions-list-{{ role['id'] }}">
                        <span>Permissions</span>
                        <div v-for="permission in info"
                             v-bind:class="{
                                 'hasElement': permission['hasPermission'],
                                 'noElement': !permission['hasPermission']
                                 }">
                            <div class="form-check">
                                <input type="checkbox" class="form-check-input" :checked='permission["hasPermission"]'
                                       v-bind:name="'permission-'+permission['id']">
                                <label class="form-check-label">{{ '{{ permission["name"] }}' }}<br>
                                    {{ '{{ permission["url"] }}' }}
                                </label>
                            </div>
                        </div>
                    </div>

                    <!-- Save/Cancel buttons -->
                    <input type="submit" class="btn btn-success text-white" value="Save changes">
                    <a class="btn btn-outline-secondary"
                       onclick="toggleVisibility('edit-role-permission-{{ role['id'] }}')">Cancel
                    </a>
                </form>
            </div>
            <hr>

            {# Modal #}
            <!-- Delete role -->
            <div class="modal fade" id="delete-role-{{ role['id'] }}" tabindex="-1" role="dialog" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Delete Role - {{ role['name'] }}</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <p>Are you sure you want to delete {{ role['name'] }}?</p>
                            <p><em>This action cannot be undone!</em></p>
                            <form action="/rbac/roles/update" method="post">
                                <!-- Action -->
                                <input type="hidden" id="action" name="action" value="delete">
                                <!-- intended role to remove -->
                                <input type="hidden" id="action" name="role-name" value="{{ role['name'] }}">

                                <input type="submit" class="btn btn-danger" value="Delete">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

    {# Modals #}
    <!-- Add new role -->
    <div class="modal fade" id="addNewRole" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Add new role</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form action="/rbac/roles/update" method="post">
                        <!-- Action -->
                        <input type="hidden" id="action" name="action" value="add">

                        <!-- Role name -->
                        <div class="form-group">
                            <label for="role-name">Role name</label>
                            <input name="role-name" id="role-name" class="form-control" type="text"
                                   title="Role name must only include up to 45 of these characters: a-zA-Z0-9_- and space. This cannot be changed after adding the role."
                                   placeholder="e.g. Administrator, Manager, etc."
                                   required pattern="[\w\s-]{1,45}" maxlength="45">
                        </div>

                        <!-- Desc -->
                        <div class="form-group">
                            <label for="role-desc">Description</label>
                            <textarea class="form-control" name="role-desc" id="role-desc" rows="3"
                                      title="Role description cannot exceed 255 characters"
                                      placeholder="Describe details about this role." maxlength="255"></textarea>
                        </div>

                        <!-- Permissions -->
                        <div class="form-group">
                            {% for permission in permissions %}
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value=""
                                           name="permission-{{ permission['id'] }}"
                                           id="permission-{{ permission['id'] }}">
                                    <label class="form-check-label" for="permission-{{ permission['id'] }}">
                                        {{ permission['name'] }}
                                    </label>
                                </div>
                            {% endfor %}
                        </div>
                        <div class="form-group">
                            <input type="submit" class="btn btn-primary" value="Save changes">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
