{% extends 'base.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block body %}
    <div class="container-fluid">
        <h1>{{ title }}</h1>
        <ul>
            <li><a href="{{ role_management }}">Manage roles</a></li>
            <li><a href="{{ user_management }}">Manage users</a></li>
        </ul>
    </div>
{% endblock %}
