{% extends 'base.html.twig' %}

{% block title %}Hello{% endblock %}

{% block body %}
    <div class="alert alert-danger" role="alert">
        You do not have access to {{ app.request.uri }}.
    </div>
{% endblock %}
