{% extends 'base.html.twig' %}

{% block title %}Hello{% endblock %}

{% block body %}
    <div class="alert alert-danger" role="alert">
        {{ message }} <br>
        <a href="{{ prevUri }}">Back</a>
    </div>
{% endblock %}
