{% extends 'base.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block body %}
    <div id="roles" class="container table table-margin-top-1">
        <div class="row align-items-center">
            <div class="col font-weight-bold">Username</div>
            <div class="col-6 font-weight-bold d-none d-md-block">Email</div>
            <div class="col font-weight-bold"></div>
        </div>
        <hr>
        {% for user in users %}
            <div class="row align-items-center">
                <div class="col">
                    <div class="field">{{ user['name'] }}</div>
                </div>
                <div class="col-6 d-none d-md-block">
                    <div class="field">{{ user['email'] }}</div>
                </div>
                <div class="col">
                    <div class="float-right d-flex bd-highlight">
                        <div class="p-1 bd-highlight">
                            <a class="btn btn-light"
                               onclick="getJson('user', '{{ user['email'] }}', 'user-{{ user['id'] }}-roles-list', 'roles'); toggleVisibilityAndHideClassElements('user-{{ user['id'] }}', 'role-permissions')">Edit</a>
                        </div>
                        <div class="p-1 bd-highlight">
                            <a class="btn btn-danger text-white" data-toggle="modal"
                               data-target="#deleteUser-{{ user['id'] }}"
                            >Delete</a>
                        </div>
                    </div>
                </div>
            </div>


            <div id="user-{{ user['id'] }}" class="role-permissions">
                <!-- Roles list -->
                <form action="/rbac/users/update" method="post">
                    <!-- Action -->
                    <input type="hidden" id="action" name="action" value="update">
                    <!-- intended role to remove -->
                    <input type="hidden" id="action" name="email" value="{{ user['email'] }}">

                    <div id="user-{{ user['id'] }}-roles-list">
                        <span>Roles</span>
                        <div v-for="role in info"
                             v-bind:class="{
                                 'hasElement': role['isRole'],
                                 'noElement': !role['isRole']
                                 }">
                            <div class="form-check">
                                <input type="checkbox" class="form-check-input" :checked='role["isRole"]'
                                       v-bind:name="'role-'+role['id']">
                                <label class=" form-check-label">{{ '{{ role["name"] }}' }}</label>
                            </div>
                        </div>
                    </div>

                    <!-- Save/Cancel buttons -->
                    <div class="form-group">
                        <button class="btn btn-success text-white">Save changes</button>
                        <button class="btn btn-outline-secondary">Cancel</button>
                    </div>
                </form>
            </div>
            <hr>

            {# Modal #}
            <!-- Delete User -->
            <div class="modal fade" id="deleteUser-{{ user['id'] }}" tabindex="-1" role="dialog" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Delete User - {{ user['name'] }}</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <p>Are you sure you want to delete {{ user['name'] }}?</p>
                            <p><strong>This action cannot be undone!</strong></p>
                            <form action="/rbac/users/update" method="post">
                                <!-- Action -->
                                <input type="hidden" id="action" name="action" value="delete">
                                <!-- intended role to remove -->
                                <input type="hidden" id="action" name="email" value="{{ user['email'] }}">

                                <input type="submit" class="btn btn-danger" value="Delete">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
